<td id="snsLink">
<div id="snsLinkContainer">
<div class="menu">
<%= render :partial => "sns/admin/profiles/project_field"%>
<%= render :partial => "sns/admin/profiles/friends_field"%>

</div>

</div>
</td>
