<td id="snsLink">
<div id="snsLinkContainer">
<div class="menu">
<%=link_to "プロジェクトの詳細を確認", sns_project_path(@project_code), :class=>"button"%>
<%= render :partial => "/sns/admin/projects/schedule_field"%>
<%= render :partial => "/sns/admin/projects/project_field"%>
<%= render :partial => "/sns/admin/projects/members_field"%>
</div>
</div>
</td>