jQuery.noConflict();
jQuery(document).ready(function($){
<%if @item%>
<%
is_msg = true
if @item.message.blank?
  message_str = "クリックして本日の予定等を入力"
  is_msg = false
else
  message_str = @item.message
end %>

var noteBody = '<div class="messageFrame1"><div class="messageFrame2"  id="messageStr"><%=hbr message_str%></div></div>';
$("#messageForm").html(noteBody);

$('#messageForm').attr('id', 'messageField');
<%unless is_msg%>$('#messageField').addClass('empty');<%end%>
<%end%>
});

