<td id="snsMenu">
<div id="snsMenuContainer">
<div class="profileContainer">
<%= render :partial => "sns/admin/base/project_menu"%>
</div>
</div>
</td>

<td id="snsContent">

<div class="bread_crumbs">

</div>

<div class="menu">
  <div class="leftMenu">
    <%= render :partial => "sns/admin/projects/conferences/form_thread"%>
  </div>
</div>
</td>


<%= render :partial => "side_link"%>