<td id="snsMenu">
<div id="snsMenuContainer">
<div class="profileContainer">
  <%= render :partial => "sns/admin/base/profile_menu"%>
</div>

</div>
</td>
<td  id="snsContent" colspan="2" class="detail">
<div class="menu">
  <div class="leftMenu">
  <%= form_for :item, :url => {:action => :update}, :html => {:multipart => true ,:method => :put} do |f| %>

  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f, :current=>@edit_current} %>


<% end %>
  </div>
</div>
</td >