<div id="swfupButtons">
  <div id="swfBox1">
    <span id="spanButtonPlaceHolder1"></span>
    <input id="btnCancel1" type="button" value="キャンセル" onclick="swfu.cancelQueue();" disabled="disabled" />
  </div>
  <div id="swfBox2">
    <span id="spanButtonPlaceHolder2"></span>
    <input id="btnCancel2" type="button" value="キャンセル" onclick="swfu.cancelQueue();" disabled="disabled" />
  </div>
</div>
<div id="divStatus"></div>
<div id="uploadedFiles" style="display: none;" class="uploadedFilesShow"></div>
<div id="fsUploadProgress"></div>
<div id="fsUploadProgress2"></div>