
<td  id="snsMenu">
<div id="snsMenuContainer">
<div class="leftMenu">
    <%= render :partial => "sns/admin/profile_configs/editing_menu", :locals => {:current => @edit_current }%>
</div>

</div>
</td>
<td id="snsContent" colspan="2" class="configs">
<div class="menu">
  <div class="leftMenu">
    <h2 class="mail_notice">メール通知設定</h2>

    <%= form_for :item, :url => {:action => :create} do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :locals => {:f => f, :current=>@edit_current} %>
  <% end %>
  </div>
</div>
</td>

